*, *::before, *::after{
    box-sizing: border-box;
}

body{
    overflow: hidden;
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    height: auto;
}

#map {
    height: 90vh;
    width: 100%;
}

header{
    position: absolute;
    align-items: center;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #646262;
    z-index: 1000;
}

header a .logo{
    padding-left: 1vw;
    height: 5vh;
}

header .navbarLinks ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header .navbarLinks ul li{
    list-style: none;
}

header .navbarLinks ul li:hover{
    background-color: #737373;
}

header .navbarLinks ul li a{
    text-decoration: none;
    color: white;
    padding: 3.3vh;
    font-size: 3vh;
    display: block;
}

.hamburgerToggle{
    position: absolute;
    top: 2.5vh;
    right: 2.5vh;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 45px;
    height: 38px;
}

.hamburgerToggle .bar{
    height: 7px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 700px) {
    header{
        flex-direction: column;
    }

    header a .logo{
        height: 5vh;
        margin: 2.5vh;
    }

    header .navbarLinks{
        display: none;
        width: 100%;
    }

    header .navbarLinks ul{
        width: 100%;
        flex-direction: column;
    }

    header .navbarLinks ul li{
        width: 100%;
        text-align: center;
    }

    header .navbarLinks.active{
        display: flex;
    }

    .hamburgerToggle{
        display: flex;
    }
}