*, *::before, *::after{
    box-sizing: border-box;
}

header{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    height: auto;
}

body{
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    height: auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    font: sans
}

form h2{
    justify-content: center;
    align-items: center;
}

.tempContainer, .flowContainer{
    display: flex;
    flex-direction: row-reverse;
}

.tempContainer input, .flowContainer input{
    display: none;
}

.tempContainer label, .flowContainer label{
    font-size: 3rem;
    color: gray;
    padding: 0.5rem;
    float: right;
    transition: all 0.1s ease;
}

.tempContainer input:not(:checked) ~ label:hover,
.tempContainer input:not(:checked) ~ label:hover ~ label,
.flowContainer input:not(:checked) ~ label:hover,
.flowContainer input:not(:checked) ~ label:hover ~ label{
    color: gold;
} 

.tempContainer input:checked ~ label,
.flowContainer input:checked ~ label{
    color: gold;
}

form select, input{
    width: 100%;
    height: 3em;
    margin-top: 0vh;
    margin-bottom: 5vh;
    padding-left: 1em;
    outline: none;
    border: none;
    background: #f5f5f5;
    border-radius: 10px;
}

form button{
    height: 3em;
    width: 30%;
    margin-top: 5em;
    border-radius: 30px;
    background: #ff5361;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}