*, *::before, *::after{
    box-sizing: border-box;
}

body{
    overflow: hidden;
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    height: auto;
}

header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: #646262;
}

.logo{
    padding-left: 1%;
    height:100%;
}

header .navbarLinks ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header .navbarLinks ul li{
    list-style: none;
}

header .navbarLinks ul li:hover{
    background-color: #737373;
}

header .navbarLinks ul li a{
    text-decoration: none;
    color: white;
    padding: 3.3vh;
    font-size: 3vh;
    display: block;
}

#map {
    height: 90vh;
    width: 100%;
}